* {
    margin: 0;
    padding: 0;
    font-size: 26px;
}

body{
    background: #AAAAAA;
    /*background: url("#{resource['css/img/petals.jpg']}") no-repeat;*/
    background-size: 100%;
    height: auto;
}

html, body, .content{
    height: 100%;
    text-align: center;
}

form{
    display: inline-block;
}

form table{
    margin-top: 5%;
}

table *{
    margin-top:5px;
    margin-bottom: 5px;
}

h2{
    vertical-align: center;
}

.content{
    width: auto;
    margin-left: 16%;
    margin-right: 16%;
    border-left: 4px solid #555555;
    border-right: 4px solid #555555;
    background: #DDDDDD;
}

.headline{
    padding-top: 3%;
    height: 5em;
    border-bottom: 1px solid black;
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
}

input[type=submit]{
    display: inline-block;
    padding: 3px 6px;
    font-size: 20px;
}

.corner_panel{
    line-height: 1.3em;
    padding: 5px;
    padding-top: 1.7%;
    height: 5em;
    position: absolute;
    top: 0;
    right: 16%;
    text-decoration: none;
    font-weight: normal;
    border: 1px solid black;
    margin-left: auto;
    margin-right: 0;
    max-width: 10em;
}